.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  padding: 40px 0 22px 0;
  font-size: 80px;
  line-height: 1.2;
  text-align: left;
  border-bottom: 2px solid #000;
}

.avatar {
  padding: 48px 0;
}

h2{
  padding-bottom: 7px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 400;
  border-bottom: 1px solid;
}

.profileContent {
  p{
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 300;
  }
  .second-p{
    padding-bottom: 64px;
  }
}

.education{
  li{
    font-size: 24px;
    font-weight: 300;
  }
  .bachelor{
    padding-bottom: 16px;
  }
}

.skills{
  margin: 64px 0;
  color: #fff;
  text-align: center;
  background: #415165;
  h3{
    width: 51.9%;
    margin: 0 auto;
    padding: 24px 16px 7px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;
    .skill{
      font-size: 32px;
      font-weight: 300;
    }
    span{
      padding-left: 16px;
      vertical-align: middle;
      font-size: 24px;
      font-weight: 600;
    }
  }
  ul{
    display: inline-block;
    padding-bottom: 40px;
    li{
      padding-left: 24px;
      padding-bottom: 8px;
      font-size: 24px;
      font-weight: 300;
      text-align: left;
      border-left: 1px solid #96A9C4;
    }
    .language{
      padding-bottom: 0;
    }
  }
}

.experience {
  ul{
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
    li{
      width: 642px;
      padding-left: 24px;
      padding-bottom: 24px;
      font-size: 24px;
      font-weight: 400;
      p{
        font-size: 20px;
        font-weight: 300;
      }
      .hexSchool{
        padding: 16.5px 0;
      }
      .simTree{
        padding: 13.5px 0;
      }
    }
    .simTreeLi{
      padding-bottom: 0;
    }
  }
}

footer{
  margin-top: 80px;
  color: #fff;
  text-align: center;
  background: #415165;
  h2 {
    width: 1200px;
    margin: 0 auto;
    padding: 24px 16px 7px 0;
    margin-bottom: 24px;
    border-bottom: 1px solid #fff;
    span{
      padding-left: 16px;
      font-size: 24px;
      font-weight: 400;
    }
  }
  li{
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 300;
    img{
      display: inline;
      padding-left: 20px;
      vertical-align: top;
    }
    a{
      display: inline;
      color: #fff;
      border-bottom: 1px solid transparent;
      &:hover{
        border-bottom: 1px solid rgb(251, 255, 0);
        cursor: pointer;
      }
    }
  }
  .social-media {
    padding-bottom: 40px;
    a{
      &:hover{
        border: none;
        opacity: .8;
      }
    }
  }
}